 <!-- About Section col-lg-offset-2 -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <p>Certificats:
                       
                 </p>
                </div>
                <div class="col-lg-3">
                    <p>Programming Languages:
                       SQL (Oracle SQL, PostgreSQL) Python, R, Java, CSS, HTML
                 </p>
                </div>
                <div class="col-lg-3">
                    <p>Data Engineering & Analytics:
                       
                 </p>
                </div>
                <div class="col-lg-3">
                    <p>Tools:
                       
                 </p>
               </div>
            </div>
        </div>
    </section>
