 <!-- About Section col-lg-offset-2 -->
    <section id="about">
     <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Technical skills</h2>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 text-center">
                 <div class="intro-text">
                    <span class="skills"><b>Certificats</b></span>
                  <hr>
                 </div>
                   <p>
                    <br>
                     Digital Product Management<br>
                     Microsoft Azure Fundamentals<br>
                     Professional Scrum Master (PSM I)<br>
                     Data Engineering (in progress)<br>
                 </p>
                </div>
             
                <div class="col-lg-4 text-center">
                </div>
                 
                <div class="col-lg-4 text-center">
                  <div class="intro-text">
                    <span class="skills"><b>Programming Languages</b></span>
                   <hr>
                 </div>
                 <p>
                  <br>
                     SQL (Oracle SQL, PostgreSQL)<br>
                     Python<br>
                     Java<br>
                     CSS<br>
                     HTML<br> 
                 </p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4 text-center">
                 <br>
                 <br>
                 <div class="intro-text">
                    <span class="skills"><b>Data Engineering & Analytics</b></span>
                    <hr>
                 </div>
                 <p>
                 <br>
                  
                 </p>
                </div>
               
               <div class="col-lg-4 text-center">
                </div>
               
                <div class="col-lg-4 text-center">
                 <br>
                 <br>
                 <div class="intro-text">
                    <span class="skills"><b>Tools</b></span>
                  <hr>
                 </div>
                 <p>
                 <br>
                  
                 </p>
               </div>
            </div>
        </div>
     </header>
    </section>
