<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <img class="img-responsive" src="img/profile_cartoon.png" alt="profile-pic" />
      </div>
      <div class="col-lg-1">
      </div>
      <div class="col-lg-7">
        <div class="intro-text">
          <span class="skills">Hi, my name is</span>
          <span class="name">{{ site.title }}</span>
          <span class="skills"></span>
          <hr class="star-light" />
          <span class="skills">{{ site.skills }}</span>
          <button onclick="location.href='http://www.linkedin.com'" type="button">LinkedIn</button>
        </div>
      </div>
    </div>
  </div>
</header>
