<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <img class="img-responsive" src="img/profile_cartoon.png" alt="profile-pic" />
      </div>
      <div class="col-lg-1">
      </div>
      <div class="col-lg-7">
        <div class="intro-text">
          <span class="skills">Hi, my name is</span>
          <span class="name">{{ site.title }}</span>
          <p>I'm a Munich based Consultant with a background in Information Systems and a passion for Data Engineering and Analytics 👨‍💻. My current 
            research focus is on intelligent process automation <a color="black" href="https://www.bankinghub.eu/themen/process-automation-definition">(link)</a> to solve challanges in the financial service space.</p>
           <p> I'm also interested in Artificial Intelligence 🤖 using Computer Vision and playing tennis 🎾 at the Olympiapark.</p>
          <br>
          <br>
          <a class="btn btn-primary" href="http://www.linkedin.com" role="button">my LinkedIn</a>
        </div>
      </div>
    </div>
  </div>
</header>
